<div class="container">
  <h2>Liste des Commandes</h2>
  <button mat-raised-button color="primary" (click)="addCommande()">
    Nouvelle Commande
  </button>
  <table mat-table [dataSource]="commandes" class="mat-elevation-z8">
    <ng-container matColumnDef="dateCommande">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element.dateCommande | date}}</td>
    </ng-container>

    <ng-container matColumnDef="fournisseur">
      <th mat-header-cell *matHeaderCellDef>Fournisseur</th>
      <td mat-cell *matCellDef="let element">{{element.fournisseur.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="montantTotal">
      <th mat-header-cell *matHeaderCellDef>Montant Total</th>
      <td mat-cell *matCellDef="let element">{{element.montantTotal | currency:'EUR'}}</td>
    </ng-container>

    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef>Statut</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-listbox>
          <mat-chip [color]="getStatusColor(element.statut)" selected>
            {{element.statut}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="viewDetails(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="editCommande(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteCommande(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
